/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}
 
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding-top: 40px;
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    gap: 40px;
}

.columnLeft{
  width: 45%;
 display: flex;
 flex-direction: column;
 justify-content: left;
 gap: 10px;
 color: black;
}

.columnRight{
  width: 55%;
}